<!-- Modal -->
<div class="modal fade" id="addAssignedTaskModal" tabindex="-1"
role="dialog" aria-labelledby="addAssignedTaskModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add New Assigned Task</h5>
        <button type="button" class="close"
          id="addAssignedTaskClose" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <error-component v-if="error.serverError" :error="error.serverError"></error-component>
          <form id="addGroupForm" @submit.prevent="submitForm">
            <div class="row">
              <div class="col-12 mb-3">
                <label class="col-form-label" for="addTask">Task Title</label>
                <!-- add required -->
                <input type="text" class="form-control"
                  placeholder="Task Title" id="addTask" required
                  v-model="task.task"
                  :class="{ 'is-invalid': (error.taskError && !validation.isValidTask) }"
                  @input="validateTask">
                <div class="invalid-feedback" v-if="error.taskError">
                  {{ error.taskError }}
                </div>
              </div>
              <div class="col-12 mb-3">
                <div class="row">
                  <div class="col-6">
                    <label class="col-form-label" for="addUrgency">Task Urgency</label>
                  </div>
                  <div class="col-6">
                    <select name="addUrgency" class="form-control" id="addUrgency" required
                      v-model="task.urgency">
                      <option value="0" selected>Low</option>
                      <option value="1">Medium</option>
                      <option value="2">High</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-12 mb-3">
                <div class="row">
                  <div class="col-6">
                    <label class="col-form-label" for="addUser">Assigned User</label>
                  </div>
                  <div class="col-6">
                    <select name="addUser" class="form-control" id="addUser" required
                      v-model="task.userId">
                      <option selected disabled>Select the User</option>
                      <option v-for="user in users" :value="user.userId"
                        :key="`user-${user.userId}`">
                        {{ user.username }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-12 mb-3">
                <label class="col-form-label">Task Description</label>
                <wysiwyg v-model="task.description"/>
              </div>
              <div class="col-12 mb-3">
                <div class="row">
                  <div class="col-6">
                    <label class="col-form-label">Task DueDate</label>
                  </div>
                  <div class="col-6">
                    <datetime type="datetime" v-model="task.dueDate" required></datetime>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <button type="reset" class="btn btn-info btn-block mt-4"
                  :disabled="isLoading">
                  Reset
                </button>
              </div>
              <div class="col-6">
                <button type="submit" class="btn btn-primary btn-block mt-4"
                  :disabled="!(validation.isValidTask) || isLoading">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
