<div class="container">
  <div class="mt-5 mb-5 text-center">
    <h1 class="display-3">Login</h1>
    <p class="lead">Log in to Team Tasker and get access to your tasks!</p>
  </div>
  <hr class="mb-5">
  <b-form @submit.prevent="submitForm" class="col-6 mr-auto ml-auto">
    <!-- Error Component -->
    <error-component v-if="authError"
      :error="authError"
      field="authError">
    </error-component>
    <!-- Success Component -->
    <success-component v-if="authSuccess"
      :message="authSuccess"
      field="authSuccess">
    </success-component>
    <!-- Username Input -->
    <b-form-group label="Username:" label-for="username">
      <b-form-input
        id="username"
        v-model="user.username"
        type="text"
        required
        placeholder="Username"
        @input="validateUsername"
        :state="(errors.username && !isValidUsername)">
      </b-form-input>
      <b-form-invalid-feedback v-if="(errors.username && !isValidUsername)">
        Invalid Username. Please enter alpha numeric number between 2 to 20 characters
      </b-form-invalid-feedback>
    </b-form-group>
  </b-form>
  <form @submit.prevent="submitForm" class="col-6 mr-auto ml-auto">
    <div class="form-group">
      <label class="col-form-label" for="password">Password</label>
      <!-- add required -->
      <input type="password" class="form-control"
        placeholder="Password" id="password" v-model="user.password"
        :class="{ 'is-invalid': (errors.password && !isValidPassword) }"
        @input="validatePassword">
      <div class="invalid-feedback" v-if="errors.password">
        {{ errors.password }}
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block mt-4"
      :disabled="(!(isValidUsername && isValidPassword)) || isLoading">
      Submit
    </button>
  </form>
</div>