<div class="container">
  <div class="mt-5 mb-5 text-center">
    <h1 class="display-3">Login</h1>
    <p class="lead">Log in to Team Tasker and get access to your tasks!</p>
  </div>
  <hr class="mb-5">
  <form @submit.prevent="submitForm" class="col-6 mr-auto ml-auto">
    <error-component v-if="authError" :error="authError" field="authError"></error-component>
    <success-component v-if="authSuccess" :message="authSuccess"
      field="authSuccess"></success-component>
    <div class="form-group">
      <label class="col-form-label" for="username">Username</label>
      <!-- add required -->
      <input type="text" class="form-control"
        placeholder="Username" id="username" v-model="user.username"
        :class="{ 'is-invalid': (errors.username && !isValidUsername) }"
        @input="validateUsername">
      <div class="invalid-feedback" v-if="errors.username">
        {{ errors.username }}
      </div>
    </div>
    <div class="form-group">
      <label class="col-form-label" for="password">Password</label>
      <!-- add required -->
      <input type="password" class="form-control"
        placeholder="Password" id="password" v-model="user.password"
        :class="{ 'is-invalid': (errors.password && !isValidPassword) }"
        @input="validatePassword">
      <div class="invalid-feedback" v-if="errors.password">
        {{ errors.password }}
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block mt-4"
      :disabled="(!(isValidUsername && isValidPassword)) || isLoading">
      Submit
    </button>
  </form>
</div>