<div>
  <!-- Speerate component -->
  <v-img
    :src="group.imageUrl"
    lazy-src="https://images.pexels.com/photos/6372/coffee-smartphone-desk-pen.jpg?auto=compress&cs=tinysrgb&dpr=2&h=150"
    aspect-ratio="1"
    class="grey lighten-2"
    max-height="250"
  >
    <template v-slot:placeholder>
      <v-row class="fill-height ma-0"
        align="center"
        justify="center">
        <v-progress-circular indeterminate color="grey">
        </v-progress-circular>
      </v-row>
    </template>
  </v-img>
  <v-container>
    <v-row justify="space-between" align="center">
      <v-col cols="6">
        <h1>{{ group.name }}</h1>
        <div class="ql-content mb-3" v-html="group.description"></div>
        <p class="caption">
          <b>Created At:</b> {{ computedGroupCreatedAt }},
          <b>Updated At:</b> {{ computedGroupUpdatedAt }}
        </p>
      </v-col>
      <v-col cols="6" class="text-right">
        <!-- <add-group @success="showSuccessMessage"></add-group> -->
      </v-col>
    </v-row>
  </v-container>
  <v-container>
    <!-- Seperate component: TasksTable -->
    <task-list :tasks="group.tasks" />
  </v-container>
</div>
