<v-dialog v-model="dialog" persistent max-width="600px">
  <template v-slot:activator="{ on }">
    <v-btn color="primary" v-on="on" large>Add Group</v-btn>
  </template>
  <v-card>
    <v-card-title>
      <span class="headline">Group Details</span>
    </v-card-title>
    <v-card-text>
      <v-container>
        <v-form v-model="isValid">
          <v-row>
            <v-col cols="12">
              <v-text-field label="Name"
                v-model="group.name"
                :rules="groupNameRules"
                counter
                required>
              </v-text-field>
            </v-col>
            <v-col cols="12">
              <p><b>Description:</b></p>
              <editor :content="group.description">
              </editor>
            </v-col>
            <v-col cols="12">
              <v-text-field label="Image URL"
                type="url"
                v-model="group.imageUrl"
                :rules="groupImageRules"
                counter>
              </v-text-field>
            </v-col>
          </v-row>
        </v-form>
      </v-container>
      <small>*indicates required field</small>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="primary" text @click="dialog = false">Close</v-btn>
      <v-btn color="primary" @click="dialog = false">Save</v-btn>
    </v-card-actions>
  </v-card>
</v-dialog>
