<v-data-table
  :headers="headers"
  :items="tasks"
  :items-per-page="15"
  class="elevation-1"
  :loading="isLoading"
  single-expand
  show-expand>
  <template v-slot:top>
    <v-toolbar flat color="white">
      <v-toolbar-title>Tasks</v-toolbar-title>
      <v-spacer></v-spacer>
      <!-- Seperate compoenent: Create another dialog for edit items binded with newTask -->
      <v-dialog v-model="dialog" max-width="500px">
        <template v-slot:activator="{ on }">
          <v-btn color="primary" dark class="mb-2" v-on="on">New Task</v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-container>
              <v-row>
                <p v-if="editedItem.id">Task ID: {{ editedItem.id }}</p>
                <v-col cols="12">
                  <v-text-field v-model="editedItem.task" label="Task Title">
                  </v-text-field>
                </v-col>
                <v-col cols="12" v-if="editedItem.id">
                  <v-checkbox v-model="editedItem.isDone" label="Is Done?" value="Is Done?">
                  </v-checkbox>
                </v-col>
                <v-col cols="12">
                  <vue-editor v-model="editedItem.description"
                    placeholder="Task Description"
                    :editor-toolbar="editorConfig"/>
                </v-col>
                <v-col cols="12">
                  <v-select
                    v-model="editedItem.urgency"
                    :items="urgencyOptions"
                    label="Task Urgency"
                    required
                  ></v-select>
                </v-col>
                <v-col cols="12">
                  <v-menu
                    ref="menu"
                    v-model="dateMenu"
                    :close-on-content-click="false"
                    :return-value.sync="editedItem.dueDate"
                    transition="scale-transition"
                    offset-y
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="editedItem.dueDate"
                        label="Picker in menu"
                        prepend-icon="event"
                        readonly
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="editedItem.dueDate" no-title scrollable>
                      <v-spacer></v-spacer>
                      <v-btn text color="primary" @click="dateMenu = false">Cancel</v-btn>
                      <v-btn text color="primary"
                        @click="$refs.menu.save(editedItem.dueDate)">OK</v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
            <v-btn color="blue darken-1" text @click="save">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
  </template>
  <template v-slot:item.action="{ item }">
    <v-icon
      class="mr-2"
      @click="editItem(item)"
      color="success"
    >
      edit
    </v-icon>
    <v-icon
      @click="deleteItem(item)"
      color="red"
    >
      delete
    </v-icon>
  </template>
  <template v-slot:no-data>
    <p class="mt-3 body-1">No Tasks found! 😕</p>
  </template>
  <!-- Refacotr order for v-slot elements! and add comments -->
    <template v-slot:expanded-item="{ headers, item }">
      <td :colspan="headers.length" class="pt-3">
        <p class="ql-content">{{ item.description }}</p>
        <!-- change format and text style -->
        <p>Last updated at: {{ computedDate(item.updatedAt) }}</p>
      </td>
    </template>
    <template v-slot:item.isDone="{ item }">
      <v-simple-checkbox v-model="item.isDone" disabled></v-simple-checkbox>
    </template>
    <template v-slot:item.urgency="{ item }">
      <!-- Refactor this, may be seperate component -->
      <p class="orange--text mt-2" v-if="item.urgency === 0">Low</p>
      <p class="success--text mt-2" v-if="item.urgency === 1">Medium</p>
      <p class="red--text mt-2" v-if="item.urgency === 2">High</p>
    </template>
    <template v-slot:item.createdAt="{ item }">
      <p class="mt-2">{{ computedDate(item.createdAt) }}</p>
    </template>
</v-data-table>
